:root{
  --mainBlue:#2a2a72;
  --lightBlue:#e1e3e8;
  --mainWhite:#f3f3f3;
  --mainDark:#232528;
  --mainYellow:#ffa400;
}

body{
  background-color:var(--mainWhite) !important; 
  font-family: fantasy!important;
  color: var(--mainDark) !important;
}

.text-title-second{
  color:var(--mainBlue) !important;
}
.nav-bar-app-name{
  font-family: monospace;
  font-size: -webkit-xxx-large;
  font-style: italic;
  font-weight: bold;
  font-variant-caps: small-caps;
}
.nav-bar-item{
  padding:1rem !important;
  font-family: cursive;
  font-size: x-large;
}

.product_window{
  background-color: var(--lightBlue);
  border-radius: 5px;
  padding: 15px;
  margin-left: 1rem;
  border : 1px solid #b1aaaa;
}
.product_avalable{
  color: green;
}
.product_non_avalable{
  color: red;
}
.add_product{
  font-size: 1.4rem;
  color:var(--mainBlue)
}

.add_product:hover {
  color: var(--lightBlue)
}

.product_modal{
  background-color: honeydew !important;
  border-radius: 15px;
}
.product_button{
  margin:5px;
  border-radius: 5px;
}

.product_category{
  /* margin-left:5px; */
  padding: 2rem !important;
  border-right : 1px solid #b1aaaa;
}
.product_category_button{
  margin:5px;
  border-radius:5px;
  padding:8px;
}
.product_category_add{
  background-color: var(--lightBlue);
  padding:1rem;
}
.product_category_delete{
  color:#dc4040;
}
.margin_auto{
  margin:auto!important;
}

.warning{
    border: 4px solid #fb4545;
    border-radius: 13px;
}

.float_left{
  float: left;
}
.float_right{
  float: right;
}
.float_none{
  clear: both;
}

.product_menu_selected{
  background-color: #a6a6d6;
  border-radius: 15px;
  padding-left: 12px;
  padding-right: 12px;;
  margin-left: 15px;
  margin-bottom: 5px;
}


.card-footer{
  padding: 0rem 0re !important;
}